#myid{
    height: 150px;
    width: 300px;
    background-color: gray;
    border: 5px black dotted;
    margin-top: 20px;
    margin-left: 2em;
    margin-right: 1em;
    margin-bottom: 40px;
    padding: 1em;
}
.QU2{
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 100px;
    display: inline-block;
} 
.ID{
    display: inline-block;
    font-weight: bold;
}