#BOX{
    height: 100px;
    width: 250px;
    background-color: pink;
    /* animation-name: Animationwidth;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 3;
    animation-direction: alternate; */
    animation: AnimationFont 2s ease-in 0s infinite normal;
}
@keyframes AnimationFont{
    /* from{font-size: 20px;
    background-color: black;}
    to{font-size:40px ; 
    background-color: blueviolet;} */
    0%{
        background-color: aqua;
    }
    50%{
        background-color: blue;
    }
    80%{
        background-color: blueviolet;
    }
    100%{
        background-color:black;
    }
}
@keyframes Animationwidth{
    from{width: 20px;}
    to{width:250px;}
}