*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}
#checkbox{
    display: none;
}
.mainbox{
    background-image: url(photo.jpg);
    background-size: cover;
    height: 100vh;
}
.btn1{
    color:white;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    transition: all 0.1s linear;
    cursor: pointer;
}
.Sidebar{
    background-color: rgb(255, 255, 255,0.1);
    height: 100vh;
    width: 235px;
    position: fixed;
    left: -360px;
    transition: all 0.2s linear;
}
.Sidebar .logo{
    position: absolute;
    width: 100%;
    line-height: 15px;
    box-shadow: 0px 0px 6px rgb(255, 255, 255 ,0.5) ;
    height: 60px;
}
.Sidebar .logo a{
    color:white;
    text-decoration: none;
    position: absolute;
    top: 17px;
    left: 14px;
    font-size: 20px;
}
.btn2 i{
    color:gray;
    line-height: 48px;
    position: absolute;
    left: 204px;
    top:5px;
    font-size: 25px;
    cursor: pointer;
}
.Sidebar .menu {
    color : white;
    font-size: 25px;
    width: 100%;
    line-height: 23px;
    position: absolute;
    top: 70px;
    transition: 0.2s ease-in-out linear;
}
.Sidebar .menu li{
    color: white;
    font-size: 20px;
    text-decoration: none;
   margin: 5px;
   padding: 0px 15px ;
}
.Sidebar .menu i{
 padding-right: 15px;
 opacity: 0.5;

}
.Sidebar .menu li{
    margin: 6px;
    padding: 10px 20px;

}
.Sidebar .menu li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.Sidebar .social {
    position: absolute;
    bottom: 24px;
    left: 40px;
}
.Sidebar .social a{
    color:white;
    padding:  6px;
    opacity: 0.5;
    font-size: 15px;
}
.Sidebar .menu   li:hover{
    box-shadow: 0px 0px 6px rgb(255, 255, 255 ,0.5) ;
}
.Sidebar .social a:hover{
   
    opacity: 1;
}
#checkbox:checked ~ .Sidebar{
   left:0px;
}
#checkbox:checked~.btn1{
    opacity: 0;
}
.btn2 i:hover{
   font-size: 30px;
}
.mainbox.btn1:hover{
    /* font-size: 30px; */
}
.btn1:hover{
    font-size: 30px;
}
.Sidebar .social a:hover{
    font-size: 20px;
}
