h1{
    border-width : 50px;
}
div{
    height: 200px;
    width: 500px;
    background-color: pink;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    border-top: 5px;
    border-top-color:green;
    border-style: solid;
    border-radius:10px;
    margin: 50px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
button{
    background-color: yellow;
    border:red dashed 2px;
    border-radius: 10px;
    padding: 5px;
    margin-left: 50px ;
    
}