h2{
    color:coral;
}
span {
    color : brown;
}
.card{
    width: 400px;
    border: 2px solid black;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
}
img{
    width: 100%;
    border-radius: 25px;
}
h4{
    text-align: right;
    color: chocolate;
}
#pets{
    display: flex;
    justify-content: space-evenly;
}
.card:hover{
    box-shadow: 5px 10px 15px black;
}
@media (max-width:900px){
    #pets{
     flex-wrap: wrap;
    }
 }
